extends: default
rules:
  line-length:
    max: 140
    level: warning
  indentation:
    indent-sequences: consistent
    check-multi-line-strings: false
  trailing-spaces: enable
  document-start:
    present: false
